@import url('https://fonts.googleapis.com/css2?family=REM:wght@200&family=Ubuntu:wght@300&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: Ubuntu, REM;
  font-weight: 800;
  background-color: #f3f3f3;
  line-height: 1.8em;
}
#imagemcidade {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  margin: 0px;
}
#imagemcidade img{
  height: 100%;
  width: 100%;
  margin: 0px;
}

#containersuper {
  position: relative;
  z-index: 999;
  display: flex;
  flex-direction: row;
}

.div-main {
  background-color: #f3f3f3;;
  display: flex;
  flex-direction:column;
  justify-content: flex-start; 
  align-items: flex-start; 
  padding: 10px;
  text-align: left;
  margin-right: 10px;
  border-right: 2px solid rgb(13, 231, 243)
}

.div-main img {
  
  border-radius: 50%;
  height: 180px;
  width: 180px;
  margin-left: 25%;
  flex-shrink: 0; /* Prevent image from shrinking */
}

.paragraph {
  display: flex;
  margin-top: 15px;
  flex-direction: column;
  background-color: aquamarines;
  align-self: flex-start;
}

.paragraph p {
  margin: 10px 10px;
  color: black;
  align-self: flex-start;
}

/* Set the last two paragraphs to display inline */
.paragraph p:nth-last-child(-n + 2) {
  display: inline;
  margin-right: 10px;
}

/* Align paragraphs in the column vertically */
.paragraph p:not(:last-child) {
  align-self: flex-start;
}

/* Estilos para a caixa de diálogo (dialog) */
#problema {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: #fff;

    justify-content: space-between;
    align-items: center;
}
#problema h2 {
  margin: 0;
  display: flex;
  align-items: center;
}

/* Estilos para o botão do diálogo */
#problema button {
  font-family: inherit;
  font-style: bold;
  font-weight: 600;
  margin: 10px;
  border-color: transparent;
  align-items: center;
  align-self: center;
  color: red;
  background-color: #fff;
  margin-left: auto;
}
#problema img {
  margin-left: 10px;
  align-items: center;
  align-self: center;
}


#botaoContainer {
  float:inline-start;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  max-height: 1000px; /* Set a fixed height for the container */
  overflow-y: scroll; 
  margin-top: 15px;
  /* Add a vertical scroll */
}
#botaoContainer::-webkit-scrollbar {
  display: none;
}

#botaoContainer button {
  margin: 1px 0; /* Espaçamento entre os botões empilhados */
  width: 50em;
  border-radius: 10px;
  border:none;
  cursor: pointer;
  font-family: inherit;
  font-weight: 600;
}

#botaoContainer button:hover {
  background-color: #a6edfa;
  cursor: pointer;
}

#botao{
  font-family: inherit;
  font-weight: inherit;
}
